LITELLM_ENVIRONMENT=development
LITELLM_MASTER_KEY=replace-with-random-master-key
LITELLM_DB_PASSWORD=replace-with-random-database-password
REDIS_PASSWORD=replace-with-random-redis-password
GEMINI_API_KEY=AQ.Ab8RN6I8r0WMlQsgpeucqgz0Wf1A7HSKWWr-7lwkrgYQFQR6LA
OPENAI_API_KEY=AQ.Ab8RN6IdvfjF0V1TTIUiC3qG7rleRbhaWFrCCKheMDMuYm1A5w
